.container_navbar{
    display: flex;
    border-radius: 15px;
    height: 100px;
    box-shadow: 15%;
    box-shadow: 0.1px 1px 5px rgba(0, 0, 0, 0.4);
}

.container_options{
    width: 50%;
    height: 100%;
    display: flex;
}

.menu_options{
    justify-content: start;
    height: 100%;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 10px;
    align-items: center;
    margin-left: 15px;
}

.search_option{
    display: flex;
    justify-content: end;
    align-items: center;
}

.container_user_options{
    background-color: rgba(120, 120, 120, 0.243);
    height: 100%;
    width: 50%;

}